*
{
    box-sizing: border-box;
}
.main
{
display: grid;
grid-template-columns: repeat(3,auto) ;
border: 6px solid black;

align-content: start;
}
.box
{
    
    
    background-color: red;
    border: 2px solid white;
    font-size: 25px;
    height: auto;
    width: auto;
    margin: 20px;
}

.box2{
    grid-column-start: 2;
    grid-column-end: 4;
}
.box3{
    grid-row: 2/4;
    grid-column: 2/5;
}
.box8{
    grid-area: 4/1/5/5;
}